In [16]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd


url = 'https://raw.githubusercontent.com/esloch/getdata/master/datasets/dados_alerta.csv'
df = pd.read_csv(url)

def update_stack(selected_uf): 

    # Select by uf
    df_uf = df['uf'] == selected_uf
    uf_selected = df[df_uf]
    keys = ['nome']
    df_by_uf = uf_selected.groupby(['SE', 'nivel'])[keys].count()

    # Filter by_week
    this_week = df_by_uf.index.get_level_values(0).max()
    last_week = this_week - 1

    # Create df_by_week
    df_this_week = df_by_uf.loc[this_week].reset_index()
    df_last_week = df_by_uf.loc[this_week].reset_index()

    fig = go.Figure()
    for nivel in df_this_week.nivel:
        
        fig.add_trace(go.Bar(
           x=df_this_week.nivel == nivel, 
           y=df_this_week.nome,
            name='This week',
        ))

    fig.update_layout(title_text='Least Used Feature', barmode='stack')

    pyo.plot(fig, filename='bar3.html')    



selected_uf = 'Paraná'
update_stack(selected_uf)

In [15]:
df

,Unnamed: 0,SE,Rt,data_iniSE,casos_est,casos,nivel,receptivo,municipio_geocodigo,nome,uf
0,0,201945,0.0,2019-11-03,0.0,0.0,1,0.0,2100055,Açailândia,Maranhão
1,1,201945,0.0,2019-11-03,0.0,0.0,1,0.0,2100105,Afonso Cunha,Maranhão
2,2,201945,0.0,2019-11-03,0.0,0.0,1,0.0,2100154,Água Doce do Maranhão,Maranhão
3,3,201945,0.0,2019-11-03,0.0,0.0,1,0.0,2100204,Alcântara,Maranhão
4,4,201945,0.0,2019-11-03,0.0,0.0,1,0.0,2100303,Aldeias Altas,Maranhão
...,...,...,...,...,...,...,...,...,...,...,...
89289,89289,202044,2.0,2020-10-25,2.0,2.0,1,0.0,2302909,Capistrano,Ceará
89290,89290,202044,8.0,2020-10-25,1.0,1.0,1,0.0,2302701,Campos Sales,Ceará
89291,89291,202044,17.0,2020-10-25,2.0,2.0,1,0.0,2307650,Maracanaú,Ceará
89292,89292,202044,19.0,2020-10-25,1.0,1.0,1,0.0,2309607,Pacajus,Ceará
89293,89293,202044,19.0,2020-10-25,3.0,3.0,1,0.0,2300408,Aiuaba,Ceará